<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
>


    <context:property-placeholder location="classpath:properties/upload.properties"/>


    <!--腾讯云cos存储-->
    <bean class="cn.inkroom.web.quartz.service.impl.CosFileService">
        <property name="cosClient">
            <bean class="com.qcloud.cos.COSClient">
                <constructor-arg name="clientConfig">
                    <bean class="com.qcloud.cos.ClientConfig">
                        <constructor-arg name="region">
                            <bean class="com.qcloud.cos.region.Region">
                                <constructor-arg name="region_name" value="${cos.region}"/>
                            </bean>
                        </constructor-arg>
                    </bean>
                </constructor-arg>
                <constructor-arg name="cred">
                    <bean class="com.qcloud.cos.auth.BasicCOSCredentials">
                        <constructor-arg name="accessKey" value="${cos.accessKey}"/>
                        <constructor-arg name="secretKey" value="${cos.secretKey}"/>
                    </bean>
                </constructor-arg>
            </bean>
        </property>
    </bean>


</beans>